<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="header">
    <title>Maszyny-Polskie SERWIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <script src="/script/jquery.min.js"></script>
    <script src="/script/popper.min.js"></script>
    <script src="/script/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/style.css">
</div>
<body>

</body>
</html>